.login_page {
	background-color: var(--gray-950);
	height: 100vh;
	width: 100vw;

	display: grid;
	grid-template-rows: 1fr 2fr;
	align-content: center;
	justify-content: center;
	align-items: start;
	justify-items: center;
}

.login_logo_wrapper {
	border-radius: 1rem;
	margin: auto;
	text-align: center;
	font-size: 2rem;
	font-size: 4rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
}
.login_logo_wrapper p {
	font-size: 1rem;
	font-weight: 400;
}
.login_logo_wrapper img {
	max-width: 40rem;
	width: 100%;
}

.login_wrapper {
	background-color: var(--gray-900);
	color: var(--white);
	display: flex;
	flex-direction: column;

	gap: 1rem;

	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;


	border-radius: 1rem;
}

.login_upper_section {
	background-color: var(--blue-700);
	color: var(--white);
	width: 100%;

	/* padding-bottom: 1rem; */

	text-align: center;
	font-size: 2rem;
	font-weight: 400;

	border-radius: 1rem 1rem 0 0;
	padding: 0.5rem;

}

.login_form_field {
	padding: 0 2rem;
	width: 100%;
}

input{
	border-radius: 1rem !important;
}

.login_form_field_bottom_section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;

	margin: 0 2rem;
}
.login_form_login_button {
	width: 18rem;
	border-radius: 1rem;
	background-color: var(--gray-700);
	border: none;
}

.login_error_text {
	color: var(--red-500);
	font-size: 1rem;
	font-weight: 400;
}

.login_register {
	margin: 0 1rem;
	margin-bottom: 1rem;
}

.login_register_text {
	color: var(--gray-400);
	font-size: 1rem;
	font-weight: 400;
}

.login_register_text a {
	color: var(--blue-600);
	text-decoration: none;
}
.login_register_text a:hover {
	color: var(--blue-300);
	text-decoration: none;
}